@font-face {
  font-family: 'Space Mono';
  font-weight: 400;
  src: url('../fonts/SpaceMono-Regular.woff2') format('woff2'),
    url('../fonts/SpaceMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-weight: 700;
  src: url('../fonts/SpaceMono-Bold.woff2') format('woff2'),
    url('../fonts/SpaceMono-Bold.woff') format('woff');
}

/*  */

:root {
  --max-width: 730px;
  --padding: 1rem;
  --width: min(var(--max-width), 100% - (var(--padding) * 2));

  --ff-main: 'Space Mono', sans-serif;

  --width-desktop: 730px;
  --width-tablet: 573px;
}

.theme-light {
  --body-bg: #f6f8ff;
  --head-text: #222731;
  --toggle-color: #697c9a;
  --card-bg: #fefefe;
  --search-text: #4b6a9b;
  --search-active: #222731;

  --btn-color: #0079ff;
  --hover-clr: #222731;

  --info-heading: #2b3442;
  --info-text: #4b6a9b;
  --info-date: #697c9a;

  --filter: brightness(0) saturate(100%) invert(52%) sepia(11%) saturate(1053%)
    hue-rotate(178deg) brightness(89%) contrast(88%);
  --filter-hover: brightness(0) saturate(100%) invert(11%) sepia(26%)
    saturate(558%) hue-rotate(181deg) brightness(99%) contrast(90%);

  --repo-bg: #f6f8ff;
  --repos-heading-clr: #4b6a9b;
  --repos-number-clr: #2b3442;

  --box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 19.86%);
  --unavaliable: #4b6a9b;
}

.theme-dark {
  --body-bg: #141d2f;
  --head-text: #ffffff;
  --toggle-color: #ffffff;
  --card-bg: #1e2a47;
  --search-text: #ffffff;
  --search-active: #fff;

  --btn-color: #0079ff;
  --hover-clr: #90a4d4;

  --repo-bg: #141d2f;
  --repos-heading-clr: rgba(255, 255, 255, 0.5);
  --repos-number-clr: #fff;

  --info-heading: #fff;
  --info-text: #fff;
  --info-date: #fff;

  --filter: brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(25%)
    hue-rotate(352deg) brightness(106%) contrast(105%);
  --filter-hover: brightness(0) saturate(100%) invert(76%) sepia(4%)
    saturate(4429%) hue-rotate(190deg) brightness(87%) contrast(89%);

  --box-shadow: none;
  --unavaliable: rgba(255, 255, 255, 0.5);
}

/*  */

/***
    The new CSS reset - version 1.11 (last updated 20.9.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
li {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable='false'])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable='true']) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* RESET CSS END */

.theme-dark .dark-hidden {
  display: none;
}

.theme-light .light-hidden {
  display: none;
}

.light-hidden {
  background: transparent;
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* color: #fff; */
  filter: var(--filter);
  text-transform: uppercase;
  width: 89px;

  cursor: pointer;

  transition: all ease 0.2s;
}

.light-hidden:hover {
  /* color: #90a4d4; */
  filter: var(--filter-hover);
}

.dark-hidden {
  background: transparent;
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* color: #4b6a9b; */
  filter: var(--filter);
  text-transform: uppercase;
  width: 89px;

  cursor: pointer;

  transition: all ease 0.2s;
}

.dark-hidden:hover {
  filter: var(--filter-hover);
}

/* Theme CSS END */

body {
  background-color: var(--body-bg);
  font-family: var(--ff-main);
}

.heading-1 {
  font-size: 26px;
  font-weight: 700;

  color: var(--head-text);
}

.btn {
  width: 106px;
  height: 50px;

  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 20px;
  border-radius: 10px;
}

@media screen and (max-width: 375px) {
  .heading-1 {
    font-size: 16px;
  }

  .btn {
    width: 84px;
    height: 46px;
  }
}

.btn-submit {
  background-color: var(--btn-color);
  color: #fff;

  cursor: pointer;

  transition: all ease 0.3s;
}

.btn-submit:hover {
  background-color: #60abff;
}

.unavailable {
  color: var(--unavaliable) !important;
}

/* Generic CSS END */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: var(--width-desktop);
  /* width: 730px; */
  height: 40px;

  margin-inline: auto;
  padding-block-start: 5rem;
}

@media screen and (max-width: 768px) {
  header {
    width: var(--width-tablet);
  }
}

@media screen and (max-width: 375px) {
  header {
    width: 327px;
  }
}

.form_section {
  width: var(--width-desktop);
  height: 69px;
  margin: 3rem auto;

  display: flex;
  align-items: center;

  background-color: var(--card-bg);
  border-radius: 15px;

  box-shadow: var(--box-shadow);
}

@media screen and (max-width: 768px) {
  .form_section {
    width: var(--width-tablet);
  }
}

@media screen and (max-width: 375px) {
  .form_section {
    width: 327px;
  }
}

.form-container {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  height: 55px;
  width: 680px;

  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 522px;
  }
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 522px;

    margin-left: 15px;
  }
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-icon {
  width: 20px;
  height: 20px;
}

input[type='text'] {
  background: transparent;
  border: none;
  outline: none;

  width: 300px;

  margin-left: 20px;
  background-color: none;
  border: none;

  margin-right: 50px;

  color: var(--search-text);

  font-size: 18px;
  line-height: 25px;
}

.btn-group {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.btn-group small {
  padding-right: 20px;

  color: #f74646;
  font-size: 15px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  input[type='text'] {
    width: 184px;

    font-size: 13px;
    margin-left: 10px;
    margin-right: 0px;
  }

  .btn-group {
    margin-right: 10px;
  }
}

/* Input CSS END */

.results {
  width: var(--width);
  height: 444px;

  background-color: var(--card-bg);
  border-radius: 15px;

  box-shadow: var(--box-shadow);
  margin-inline: auto;
}

.results-container {
  padding: 3rem;
}

@media screen and (max-width: 768px) {
  .results {
    width: var(--width-tablet);
    height: 481px;
  }
}

@media screen and (max-width: 375px) {
  .results {
    width: 327px;
    height: 517px;
  }

  .results-container {
    padding: 2.5rem 1.3rem;
  }
}

.results-header {
  display: flex;
  flex-direction: column;
}

.results-header--info {
  display: flex;
  flex-direction: row;

  column-gap: 41px;
}

.info-copy {
  display: grid;
  grid-template-columns: repeat(2, 240px);
  grid-template-rows: 39px 24px;

  align-items: center;
}

@media screen and (max-width: 768px) {
  .info-copy {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }
}

.info-copy .heading-1 {
  grid-column: 1 / 2;

  color: var(--info-heading);
}

.info-copy .git-account {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.info-copy .info-date {
  grid-column: 2 / 3;

  display: flex;
  justify-self: end;

  color: var(--info-date);
}

.results-header--copy {
  margin: -35px 0 25px 158px;

  width: 480px;

  color: var(--info-text);
}

@media screen and (max-width: 768px) {
  .results-header--copy {
    margin: 15px auto;
  }
}

@media screen and (max-width: 375px) {
  .results-header--copy {
    width: 279px;
    margin: 20px 0;

    font-size: 13px;
  }

  .info-copy .git-account {
    font-size: 13px;
  }

  .info-copy .info-date {
    font-size: 13px;
  }
}

.info-img {
  width: 117px;
  height: 117px;
  border-radius: 50%;
  border: none;
}

@media screen and (max-width: 375px) {
  .info-img {
    width: 70px;
    height: 70px;
  }
}

.results-repos {
  background-color: var(--repo-bg);

  width: 480px;
  height: 85px;

  border-radius: 10px;

  margin-left: 158px;
}

@media screen and (max-width: 768px) {
  .results-repos {
    width: 493px;
    margin-inline: auto;
  }
}

@media screen and (max-width: 375px) {
  .results-repos {
    width: 279px;
    margin: 0 auto;

    text-align: center;
  }
}

.repo-container {
  display: flex;
  flex-direction: row;

  justify-content: space-around;

  padding: 15px 0;
}

.git-info {
  width: 480px;
  display: grid;
  grid-template-columns: 240px 240px;
  grid-template-rows: 50px 50px;

  margin-left: 158px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .git-info {
    width: 493px;
    margin-inline: auto;
  }
}

@media screen and (max-width: 375px) {
  .git-info {
    display: flex;
    flex-direction: column;

    row-gap: 16px;
  }
}

.git-account {
  color: #0079ff;
  text-decoration: none;

  font-size: 16px;
  line-height: 24px;
}

.website-link {
  text-decoration: none;
}

.location,
.twiiter-account,
.website-link,
.company {
  display: flex;
  flex-direction: row;

  align-items: center;

  width: 250px;

  font-size: 15px;
  color: var(--search-text);
}

.location img,
.twiiter-account img,
.website-link img,
.company img {
  padding-right: 20px;
}

.repos h3,
.followers h3,
.following h3 {
  font-size: 13px;
  color: var(--repos-heading-clr);
}

.repos p,
.followers p,
.following p {
  font-size: 22px;
  color: var(--repos-number-clr);
}

.website-url {
  font-size: 15px;
}
